@import "src/colors, btns, fonts/_colors.scss";
@import "/src/colors, btns, fonts/_fonts.scss";

.container__contact {
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  animation: scale-in-center 0.2s ease-in-out;

  @keyframes scale-in-center {
    0% {
      transform: scale(0);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
}

.contact {
  height: 240px;
  display: flex;
  align-items: center;
  margin: 20px;
  border-radius: 5px;
  background-color: $color-light-grey;

  @media (max-width: 950px) {
    width: 500px;
    height: 200px;
    justify-content: center;
    background: radial-gradient(circle at 100% 100%, #ffffff 0, #ffffff 3px, transparent 3px) 0% 0%/8px 8px no-repeat,
    radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 3px, transparent 3px) 100% 0%/8px 8px no-repeat,
    radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 3px, transparent 3px) 0% 100%/8px 8px no-repeat,
    radial-gradient(circle at 0 0, #ffffff 0, #ffffff 3px, transparent 3px) 100% 100%/8px 8px no-repeat,
    linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 10px) calc(100% - 16px) no-repeat,
    linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 16px) calc(100% - 10px) no-repeat,
    linear-gradient(90deg, #fb3b64 0%, rgba(83,199,245,0.94) 50%, #55dfb4 100%);
    border-radius: 8px;
    padding: 9px;
    box-sizing: border-box;
  }
  @media (max-width: 440px) {
    margin: 5px auto;
    padding: 0;
    font-size: 0.9em;
    width: 326px;
    height: 200px;
  }
}

.contact__empty {
  width: 200px;
  height: 200px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5em;
  color: $color-light-grey;

  &-redish {
    background-color: $color-redish;
  }
  &-green {
    background-color: $color-green;
  }
  &-blue {
    background-color: $color-primary-shadow;
  }
  @media (max-width: 950px) {
    display: none;
  }
}

.contact--text {
  margin: 20px;

  &-email{
    display: flex;
    justify-content: center;

    @media (max-width: 950px) {
      font-size:0.75em;
    }
    @media (max-width: 450px) {
      font-size:0.650em;
    }
  }

  &-tel {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: -10%;
      left: 50%;
      transform: translateX(-50%);
      border: 10px solid transparent;
      border-top-color: $color-redish;
      visibility: hidden;
      transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
    }

    &::after {
      content: "Wciśnij skopiuj i zadzwoń";
      position: absolute;
      top: -51%;
      left: 25%;
      background-color: $color-redish;
      color: #fff;
      padding: 10px;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
      z-index: 1;
    }

    &:hover::before,&:hover::after {
      opacity: 1;
      visibility: visible;
    }
  }
}
