@import "src/colors, btns, fonts/_colors.scss";
@import "/src/colors, btns, fonts/_fonts.scss";

.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  width:50%;
  font-size: 1.5em;
  background-color: $color-light-background;
  border: 2px dashed $color-green;
  border-radius: 15px;
  box-shadow: 10px 20px 45px 6px rgba(222, 231, 237, 1);

  @media (max-width: 1050px) {
    width: 95%;
  }


  &-label{
    margin: 8px auto;
  }
  &-input{
    width: 35%;
    height: 35px;
    border-radius: 15px;
    font-size: 0.8em;
    text-align: center;

    &:focus,
    &:active {
      outline: none; /* Usuń domyślny outline na focus i aktywność, jeśli nie jest potrzebny */
      border-color: darkorange;
    }
  }


}
.button-send{
  background-color: $color-green;
  margin: 10px auto;
  width: 100px;
  height: 30px;
  border: 1px solid black;
  border-radius: 15px;
  font-size: 1em;
  cursor: pointer;
}
.button-send:hover{
  background-color: $color-redish;
}
select {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  width: 210px;
  height: 30px;
  border: 1.5px solid black;
  border-radius: 15px;
  font-size: 0.7em;
  text-align: center;
}
.textarea-info{
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  width: 80%;
  max-width: 750px;
  max-height: 750px;
  min-height: 200px;
}


.input-fly {
  width: 200px;
  height: 30px;
  border: 1px solid #333;
  text-align: center;

  &.left {
    border-radius: 50px 0 0 50px;
  }

  &.right {
    border-radius: 0 50px 50px 0;
  }
}
.span-email{
  color: $color-redish;
}