@import "src/colors, btns, fonts/_colors.scss";
@import "/src/colors, btns, fonts/_fonts.scss";

.logo__img {
  position: relative;
  height: 85px;
  font-weight: bold;
  animation: logoanimation 35s ease 0s infinite normal forwards;

  @media (max-width: 650px) {
  height: 120px;
    margin-bottom: 0;
  }
}

.header {
  background-color: $color-primary;
  box-shadow: 7px 30px 35px -8px $color-primary-shadow;
  display: flex;
  height: 130px;
  width: 100%;
  padding: 1%;
  justify-content: center;
  align-items: center;
  color: $color-white;
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 400;
  text-shadow: 0 0 1px black;

  @media (max-width: 650px) {
    flex-direction: column;
    height: auto;
    padding: 20px;

    .logo {
      text-align: center;
    }

    .logo__img {
      margin-bottom: 10px;
    }

    &__ulist {
      gap: 10px;
      flex-direction: column;
      align-items: center;
    }

    &__list {
      margin: 5px;
      text-align: center;
    }
  }

  @media (max-width: 550px) {
    font-size: 30px;
    //jak będzie galery zmienić z powrotem font-size:20px
  }
  @media (max-width: 478px) {
    font-size: 25px;
    flex-direction: column;
    gap: 0;
    font-weight: bold;
    //jak będzie galery zmienić z powrotem font-size:16px
  }
  @media (max-width: 412px) {

  }

  &__ulist {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 0;

    @media (max-width: 550px) {
      gap:15px
    }
  }

  &__link {
    text-decoration: none;
    color: inherit;
  }

  &__list {
    cursor: pointer;

    &:hover {
      border: 2px solid $color-primary-hover;
      border-radius: 50%;
    }
  }
}
.logo__background{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg); // Obróć o 45 stopni
    width: 40px; // Ustaw szerokość rombu
    height: 40px; // Ustaw wysokość rombu
    background-color: $color-white; // Ustaw kolor tła rombu
    z-index: -1; // Umieść romb pod obrazem

}

@keyframes logoanimation {
  0% {
    animation-timing-function: ease-in;
    opacity: 1;
    transform: translateX(-48px);
  }

  24% {
    opacity: 1;
  }

  40% {
    animation-timing-function: ease-in;
    transform: translateX(-26px);
  }

  65% {
    animation-timing-function: ease-in;
    transform: translateX(-13px);
  }

  82% {
    animation-timing-function: ease-in;
    transform: translateX(-6.5px);
  }

  93% {
    animation-timing-function: ease-in;
    transform: translateX(-4px);
  }

  25%,
  55%,
  75%,
  87%,
  98% {
    animation-timing-function: ease-out;
    transform: translateX(0px);
  }

  100% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0px);
  }
}